@media screen and (max-width: 800px){
  /* 800px */
  .pc_area{
    display:none !important;
  }
  /* 800px */
  /* .tab_area{
    display:block !important;
  } */
  /* 800px */
  .phone_area{
    display:block !important;
  }
  }


  @media screen and (max-width: 480px){

  .pc_area{
    /* 480px */
    display:none !important;
  }
  /* 480px */
  /* .tab_area{
    display:block !important;
  } */
  /* 480px */
  .phone_area{
    display: block !important;
  }

  }