body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: rgba(50,50,72,1); 
  overflow-x: hidden;
}

:root {
  --cta-slide-height: 45vw;
  --topic-slide-height: 40vw;
  --small-item-font: Montserrat,sans-serif;
  --font:Rubik, sans-serif;
}

.small-item-font{
  font-family: var(--small-item-font);
}

html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  overflow-x: hidden;
}
div{
-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
        }

a{
text-decoration: none;
color: inherit;
}

li{
list-style: none;
}

video {
  /* iPhone safariの枠線を消す */
  filter: drop-shadow(0px 0px rgba(0,0,0,0));

  /* PCのChromeの枠線を消す */
  outline: none;
  border: none;
}

.scroll{
  overflow: hidden;   
  overflow-x:scroll;
  /* -webkit-overflow-scrolling: ; */
  white-space:nowrap;
  -ms-overflow-style: none;
}

/* .scroll::-webkit-scrollbar {
  display:none;
} */


@media only screen and (max-device-width: 480px) {
  .phone-scroll{
    overflow: hidden;   
    overflow-x:scroll;
    -webkit-overflow-scrolling:touch;
    white-space:nowrap;
    -ms-overflow-style: none;
  }

  .phone-scroll::-webkit-scrollbar {
    display:none;
  }
}
