
footer{
  padding: 3vw;
  background-color: black;
  padding-bottom:40px ;
}

footer .container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
  margin-top: 1vw;
  padding: 20px 10vw 30px;
}
footer button{
  font-size: 0.8rem;
  color: white;
  background-color: black;
  border: none;
  padding: 0;
  outline:inherit;
-webkit-appearance: none;
}


.footer_logo{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.footer_logo a{
  margin: 0 auto;
}

.bottom-nav{
width: 100%;
box-sizing: border-box;

}

.bottom-nav .container{
background-color: black;
display: grid;
grid-template-columns: repeat(5,1fr);
height: 40px;
padding:3px auto;
gap: 50px;
justify-items: center;
align-items: center;
position: fixed;
bottom: 0;
z-index: 1000;
width: 100%;
}
.bottom-nav .icon{
display: grid;
grid-template-columns: 1fr;
justify-items: center;
}

.bottom-nav .icon svg{
width: 20px;
height: 20px;
object-fit: cover;
}
.bottom-nav .icon-text{
font-size: 10px;
color: white;
} 


@media screen and (max-width: 800px){

  footer .container{
    grid-template-columns: 1fr;
  }
}




@media screen and (max-width: 480px){

/* 480px */
.bottom-nav .container{
  height: 60px;
  padding:10px 20px 0 20px;
  gap: 30px;
  width:initial;
}
/* 480px */
.bottom-nav .icon{
  gap: 5px;
}
/* 480px */
.bottom-nav .icon svg{
  width: 22px;
  height: 22px;
}
/* 480px */
.bottom-nav .icon-text{
  font-size: 14px;
}
}
