@use "display-area";

.footer {
  padding: 3vw;
  background-color: black;
  padding-bottom: 40px;

  &__logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    a {
      margin: 0 auto;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 1vw;
    padding: 20px 10vw 30px;
    @include display-area.for-tablet {
      grid-template-columns: 1fr;
    }
  }
  button {
    font-size: 0.8rem;
    color: white;
    background-color: black;
    border: none;
    padding: 0;
    outline: inherit;
    -webkit-appearance: none;
  }
}

.bottom-nav {
  width: 100%;
  box-sizing: border-box;

  .container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 40px;
    padding: 3px auto;
    gap: 50px;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    @include display-area.for-phone-only {
      height: 60px;
      padding: 10px 20px 0 20px;
      gap: 30px;
      width: initial;
    }
    .icon {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      @include display-area.for-phone-only {
        gap: 5px;
      }

      svg {
        width: 20px;
        height: 20px;
        object-fit: cover;
        @include display-area.for-phone-only {
          width: 22px;
          height: 22px;
        }
      }
      .icon-text {
        font-size: 10px;
        color: white;
        @include display-area.for-phone-only {
          font-size: 14px;
        }
      }
    }
  }
}
