@use "display-area.scss";

@mixin for-phone-only {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 799px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 800px) {
    @content;
  }
}

/* LANGUAGE */
.language {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 200px; */
  z-index: 200;

  &__container {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
    color: white;

    & input {
      display: none;
    }
    & label {
      padding-bottom: 4px;
      display: block;
      position: relative;
      z-index: 1000;

      .lang-expand {
        display: block;
        content: "";
        position: absolute;
        width: 120%;
        height: 40px;
        top: -12px;
        left: -12px;
        border-radius: 25%;
        /* background: rgba(255, 0, 0, 0.2); */
        transform: translate(10%, 0);
      }
    }
    .ja {
      margin-top: -2px;
    }
  }
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  position: relative;
  padding: 0 300;
  align-items: center;
  justify-items: center;
  @include for-tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include for-phone-only {
    height: 40px;
  }

  .nav__text {
    color: white;
    font-size: 3vw;
    font-weight: 900;

    @include for-tablet {
      font-size: 2rem;
    }
    @include for-phone-only {
      font-size: 1.2rem;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;

    @include for-tablet {
      padding-right: 20vw;
    }

    a {
      font-size: 1.6rem;
      @include for-phone-only {
        font-size: 1rem;
      }
    }
  }
  .search__container {
    position: relative;
    margin: auto auto;

    input.search__box {
      height: 30px;
      border-radius: 10px;
      min-width: 199px;
      width: 20vw;
      background-color: rgb(255, 255, 255);
      color: rgba(255, 255, 255, 0.6);
      -webkit-appearance: none;
      border: solid white 2px;
      outline: none;
    }
    #search-btn {
      position: absolute;
      right: 5%;
      top: 20%;
    }
  }
}
