body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif; 
}


html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  overflow-x: hidden;
}
div{
-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
        }

a{
text-decoration: none;
color: inherit;
}

li{
list-style: none;
}

video {
  /* iPhone safariの枠線を消す */
  filter: drop-shadow(0px 0px rgba(0,0,0,0));

  /* PCのChromeの枠線を消す */
  outline: none;
  border: none;
}

.nav_container{
  display: grid;
  grid-template-columns:1fr 1fr;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  position: relative;
  background-color:rgba(50,50,72,1);
  padding: 0 300;
}

.nav_container .nav_title{
  position: relative; 
  width: 250px;
  height: 70px;
}

.nav_text{
  position: absolute;
  top: 37px;
  left: 137px;
}

.nav_container .nav_text{
  color: white;
}

nav .input-container{
position: relative;
margin:auto auto;
}

#search-btn{
  position: absolute;
  right: 5%;
  top: 20%;

}

.nav_container input {
  height: 30px;
  border-radius: 10px;
  min-width: 199px;
  width: 400px;
  background-color: rgba(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
  -webkit-appearance: none;
  border:solid white 2px;
  outline: none;
}

/* .nav_link{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: white;
} */

.nav_logo{
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav_logo a{
  font-size: 1.6rem;  
}

.logo a{
  background-image: linear-gradient(to left,  rgb(0, 255, 149), rgb(0, 174, 255) );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  height: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 99;
  font-weight: bold;
}



.btn-container{
  position: absolute;
  z-index: 99;
  width: 40px;
  height: 40px;
}


.arrow-btn{
  fill: white;
}

#cta_prev-btn{
top: 40%;
left: 5%;
}

#cta_next-btn{
  top: 40%;
  right: 5%;
}

.cta {
  width: 100%;
  height:35vw;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(50,50,72,1) 0%,   rgba(255,255,255,1) 50%, rgba(50,50,72,1) 100%);
  /* background: url(../img);
  background-size: cover; */
  position: relative;
}

.cta_title{
  font-size: 8vw;
  font-weight: bolder;
  position: absolute;
  color: white;
  left: 10%;
  z-index: 10;
}


.cta_slider {
  width: 600%;
  display: grid;
  grid-template-columns:repeat( 6,1fr);
  /* transform:translateX(calc(-100/6 * 1%)); */
  transform:translateX(0px);
  margin-left: 18vw;
  z-index: 10;
  position: absolute;
  /* height: 3000px; */
}

.cta .slide {
  width: 100%;
  height:35vw;
  user-select: none;
  position: relative;
  z-index: 100;
}
.cta .slide img{
  /* transform: translateX(13vw); */
  height: 100%;
  object-fit: cover;
  user-drag: none;
  -webkit-user-drag: none;
}

.cta .slider_nav {
  position: absolute;
  width: 100px;
  height: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  bottom: 5%;
  left: 5%;
}

.cta .slider_indicater{
  background-color: gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.slider_indicater.current-slide{
background-color: white;
}

.cta .slide_text{
  font-size: 4vw;
  font-weight: bolder;
  position: absolute;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 35%;
  transition:unset;
  opacity: 40;
  text-transform: uppercase;
}

.slide-bg{
  height: 100px;
  width: 100px;

position: absolute;
opacity: 0;
transition: 1s;
top: 0;
/* left: 0; */
z-index: 0;
transform: translateY(-300px);
}
.slide-bg img{
  object-fit: cover;
  object-position: top;
}
.front{
  opacity: 1;
  }




.arrow-btn{

    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* ________________________TOPIC____________________________ */
/* ________________________TOPIC____________________________ */

.topic_video video{
  border-radius: 15px;
}

.topic_video{
  grid-area:video;
}
.topic_text{
  grid-area:text;
}
.topic_slider{
  grid-area:slider;
}

.topic_text p{
  font-size: 7vw;
  color: white;
  font-weight: 900;
  left: 0px;
  margin: 0;
  width: 100%;
}

.topic{
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'slider text' 
    'slider video';
  padding: 4vw;
  background-color: rgb(50, 50, 72);
  justify-items: center;
}

.topic_video{
  width:45vw;
  position: relative;
}

.topic_video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topic_video .description_container{
position: absolute;
}

:root {
    --topic-slide-width: 40vw;
  }


.topic_slider .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-drag: none;
  -webkit-user-drag: none;
}


  .topic_slider{
    width:40vw;
    height:var(--topic-slide-width);
    overflow: hidden;
    position: relative;
  }




  .topic_slider .slider{
    position: relative;
     width: 600%;
     height:var(--topic-slide-width);
     float: left;
     z-index: 4;
     display: grid;
     grid-template-columns: repeat(6,1fr);
     transform:translateX(calc(-100/6 * 1%));
   }

   .topic_slider .slide {
    height:var(--topic-slide-width);
    transition: unset;
    user-select: none;
    position: relative;
  }
 
  .topic_slider .slider_nav{
    text-align: center;
    /* height: 10px; */
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    bottom:2%;
    left: 0;
    width: 40%;
    position: absolute;
    gap: 1%;
    padding:0 30%;
  }
  
  .topic_slider .slider_indicater{
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    
  }









  .img-gradient {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    background: linear-gradient( 
180deg , rgba(196, 196, 196, 0) 0%, #000000 100%);
}

.topic_video .img-gradient {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.description_container{
position: absolute;
    bottom: 44px;
    color: white;
    padding: 0 2% 0 2%;
    text-align: left;
  }

.topic_video  .description_container{
    bottom: 20px;
      }

  .description_title{
  font-size: 2.8vw;
  font-family: Montserrat b, sans-serif;
  font-weight: 700;
  color: white;
}


.description_text{
display: block !important;
margin-top: 20px;
font-size: 1.5vw;
font-family: Montserrat, sans-serif;
line-height: 150%;
}

.topic_slider .slider_indicater.current-slide{
  background-color: white;
}

#topic_prev-btn{
top: 45%;
left: 5%;
}

#topic_next-btn{
  top: 45%;
  right: 5%;
}  





/* KIND */
.kind-whole{
  background-color: rgb(50, 50, 72);
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.kind-whole .big-text{
  font-size: 7vw;
  color: white;
 
}

.kind{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap: 20px;
  padding: 30px;

  
}

.kind .box{
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 1vw;
  padding-top: 56.25%;
  position: relative;
  border: gray solid .3vw;
  transition: all .1s linear;
  box-shadow: black 0 2vw 2vw -1vw;
}

.kind .video{
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0px;
opacity: 0;
transition: all .4s linear;
border-radius: 0.8vw;
}

.kind .video:hover{
  opacity: 100;
}

.kind .text{
  font-size: 3vw;
font-family: Rubik, sans-serif;
font-weight: 700;
text-transform: uppercase;
color: white;
width: 100%;
height: 100%;
/* z-index: 99; */
text-align: center;
padding:4.5vw 0;
position: absolute;
top: 0;
left: 0;
}



  /* HABITAT */
.habitat{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap: 20px;
  padding: 30px;
  background-color:rgba(50,50,72,1);
}
.big-text{
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
  font-size: 8vw;
  font-weight: 900;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.big-text p{
 margin: 0;
}

.habitat .box{
  position: relative;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  border: solid white 0.2vw;
  box-shadow: black 0 2vw 2vw -1vw;
}

.habitat .overlay{
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* mix-blend-mode: overlay; */
  transition: all .3s linear;
  border-radius: 20px;
  z-index: 99;
}
/* 
.habitat .overlay:hover{
  opacity: 0.3;
  } */

.habitat .gradient{
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient( 
180deg
, rgba(196, 196, 196, 0) 0%, #000000 100%);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}



.habitat .text-block{
  position: absolute;
  bottom: 22px;
  left: 29px;
}
.habitat .text{
font-size: 23px;
font-family: Rubik, sans-serif;
font-weight: 700;
text-transform: uppercase;
color: white;
}
.habitat .total-number{
font-family: Montserrat medium, sans-serif;
font-size: 1.2em;
color: white;
margin-top: 10px;
display: block;
}

.habitat img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all .2s linear;
  transform: scale(1.1);
}

footer{
  padding: 3vw;
  background-color: black;
  padding-bottom:40px ;
}

footer .container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
  margin-top: 1vw;
  padding: 20px 10vw 30px;
}
footer button{
  font-size: 0.8rem;
  color: white;
  background-color: black;
  border: none;
  padding: 0;
  outline:inherit;
-webkit-appearance: none;
}


.footer_logo{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.footer_logo a{
  margin: 0 auto;
}





@media screen and (max-width: 800px){
  .nav_container{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .topic_slider{
    height:300px;
  }
 .topic_slider .slide{
    height:300px;
  }

  .description_title{
    font-size: 30px;
  }
  
  
  .description_text{
  font-size: 15px;
  }


  .kind{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
    padding: 30px; 
  }
  .habitat .box{
    height: 150px;
  }

  .kind .text{
  font-size: 5vw;
  text-align: center;
  padding:4.5vw 0;
  position: absolute;
  top: 17%;
  left: 0;
  }

  .habitat{
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
    padding: 30px;
  }

  .big-text{
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .topic{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'text' 
      'video' 'slider' ;
    padding: 4vw;
    background-color: rgb(50, 50, 72);
    gap: 20px;
  }

  .topic_slider{
    width:100%;
    
  }

    .topic_video{
      width:100%;
    }


    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }  

    .navbar_menu.active {
      background: white;
      top: 10%;
      right: 0;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 50;
      height: 40vh;
      font-size: 1.6rem;
      padding: 0 0 0 0 ;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }



    .navbar_toggle{
      display: flex;
      flex-direction: column;
      align-items:flex-end ;
      justify-content: center;
      z-index: 100;
    }
    
    footer .container{
      grid-template-columns: 1fr;
    }
}

.bottom-nav{
  
}


.bottom-nav .container{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  height: 40px;
  padding:3px 5px 3px;
  gap: 50px;
  justify-items: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
}
.bottom-nav .icon{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.bottom-nav .icon svg{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.bottom-nav .icon-text{
  font-size: 10px;
  color: white;
}















.pc_area{
  display:block;
}
.phone_area{
  display:none;
}


@media screen and (max-width: 800px){
  .pc_area{
    display:none !important;
    visibility: hidden !important;
  }
  .phone_area{
    display:block !important;
  }
}
