body{
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar-menu{
  background-color: black;
  text-align: center;
}


.title{
font-size: 8em;
color: white;
}

.video_slider{
  display: flex;
}

.video_slide{
  width: 100vw;
}

.cta-menu{
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 1200px;
}

.cta-img{
  position: absolute;
  left: 10vw;
    top: 10vw;
  z-index: 99;
  width: 80vw;
  margin: 0 auto;
}

.cta-movie{
  
  width: 60vw;
  height: 50vw;
  margin: 0 auto;
  
}